* {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

html,
body,
header,
#intro,
#introcv {
  height: 100%;
}
#intro {
  background: url("./img/OFP9HV0.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.oren {
  color: #d65a31;
}

.tebal {
  font-weight: bold;
}

.about {
  background-color: #d65a31;
  padding-bottom: 10rem;
  padding-top: 80px;
}

.triangle {
  width: 0;
  height: 0;
  border-bottom: 100px solid #d65a31;
  border-right: 100px solid transparent;
  position: absolute;
  top: 97vh;
  left: 0px;
}

.judulOren {
  color: #d65a31;
  font-weight: bold;
}

.judulPutih {
  color: #eeeeee;
  font-weight: bold;
}

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 40px;
  width: 80px;
  height: 80px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin: 2rem;
}

/* Add a hover effect if you want */
.fa:hover {
  background-color: white;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background-color: #3b5998;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.navbar {
  padding: 0.8rem;
}

.navbar-nav li {
  padding-right: 25px;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.btn {
  background-color: #d65a31;
  border: 0;
  overflow: hidden;
}

.btn:hover {
  background-color: #eeeeee;
  color: #d65a31;
  overflow: hidden;
}

.CV {
  color: #eeeeee;
}

.carousel-caption h5 {
  margin-top: 5vh;
}

.img-fluid {
  width: 50%;
  height: auto;
}

.col-lg-6 {
  padding-top: 8rem;
}
.text {
  padding-top: 18vh;
  padding-left: 15%;
}

.kartu {
  background-color: #863f28;
  border-radius: 4vh;
  width: 80%;
  height: 130%;
  margin-top: 10%;
}

.kartu3 {
  background-color: #d8d8d8;
  border-radius: 4vh;
  width: 80%;
  height: 130%;
  margin-top: 10%;
}

.alittle {
  position: absolute;
  margin-top: 7.5%;
  margin-left: 15%;
}

.education {
  background-color: #eeeeee;
  padding-top: 5rem;
  padding-bottom: 2rem;
}

.kartu2 {
  background-color: #eeeeee;
  padding-bottom: 4rem;
}

.project {
  background-color: #d65a31;
  padding-bottom: 10rem;
  padding-top: 80px;
}

.coronaware {
  background-color: #863f28;
  padding-bottom: 5rem;
}

.btnproject {
  background-color: #222831;
  margin-top: 1rem;
  overflow: hidden;
}

.project2 {
  background-color: #eeeeee;
  padding-bottom: 10rem;
  padding-top: 80px;
}

.aegis {
  padding-top: 5rem;
}
.textaegis {
  padding: 3rem;
}

.textproject {
  padding: 5rem;
}

.photoproject {
  padding: 5rem;
}

.footer {
  background-color: #222831;
  padding: 3rem;
}

.putih {
  color: #eeeeee;
}

.CV1 {
  background: url("./img/CV\ V1.png");
  width: 100%;
  height: 240%;
  background-size: cover;
}

#introcv {
  background: url("./img/7137.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  background-size: cover;
}
